* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 55%);
}

.header-bg {
  background-image: url("images/desktop/image-hero.jpg");
}

.header-section {
  margin-top: 0;
  padding: 5% 10% 10%;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.nav-elements {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-elements li {
  cursor: pointer;
}

li {
  list-style-type: none;
  display: inline;
}

h1 {
  border: 1px solid white;
  padding: 2rem 2rem;
  max-width: 50%;
  text-transform: uppercase;
  font-size: 4.5rem;
  letter-spacing: 0rem;
  line-height: 1;
  margin-bottom: 5rem;
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-weight: 300;
}

.details-section {
  margin-top: 0;
  padding: 10% 10%;
  position: relative;
}

/* .details-section img {
  width: 50%;
  height: 50%;
} */

.details-text {
  background: white;
  width: 40%;
  padding: 6rem 0 4rem 7rem;
  position: absolute;
  bottom: 80px;
  right: 120px;
}

.details-text p {
  line-height: 1.5;
}

.details-text h3 {
  line-height: 1;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: black;
}

.creation-bar {
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creation-bar h3 {
  margin: 0;
}

.creation-bar button {
  border: 1px solid black;
  background: none;
  margin: 0;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 1rem;
}

.images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5% 10%;
}

.image-container {
  margin-top: 1rem;
  position: relative;
  text-align: left;
  color: rgb(255, 255, 255);
}

.image-text {
  /* font: "Alata", sans-serif; */
  position: absolute;
  left: 3rem;
  bottom: 3rem;
  text-transform: uppercase;
}

.image-text h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.3rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.image-container img:hover {
  cursor: pointer;
  opacity: 0.3;
}

.image-container img:hover ~ .image-text {
  color: black;
}

.footer {
  background: black;
  padding: 2% 10%;
}

.footer-img {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.icons {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  justify-content: space-between;
}

.footer-text ul {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

/* @keyframes example {
  from {
    border: none;
  }
  to {
    border-bottom: 1px solid white;
  }
}

.links li:hover {
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: ease-in;
} */

.links li:hover {
  cursor: pointer;
  text-decoration: underline;
}

.icons img:hover {
  border-bottom: 1px solid white;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.seeAllBtn:hover {
  background: black;
  color: white;
  cursor: pointer;
}
